a.Wikipedia {
    float: left ;
}

a.Wikipedia > img {
    width: 16px;
    height: 16px ;
}

div.SiteNav {
    background-color: aquamarine;
}

div.ObjectDetail{
    margin-left: 7em;
    background-color: beige;
}

div.AllObjectsList {
    width: 5em ;
    float: left ;
    height: 100% ;
    background-color: coral;
}

div.AllObjectsList li {
    list-style-type: none ;
}