{% load static %}
{% load model_names %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/browse/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/browse/admin.css' %}" />

    <meta name="viewport" content="width=device-width,initial-scale=1″ />
</head>

<body>
    <div class="NavBar">
        <a href="{% url 'index' %}">Top</a>
        {% block navbar %}{% endblock %}  
    </div>

    <div class="MainContent {{object | to_class_name}} {{object_list.0 | to_class_name}}">
        {% block maincontent %}{% endblock %}
    </div>

    <div class="SiteFooter">
        <p>F1web by WheelerDev</p>
    </div>
</body>

</html>