<html>

<head>
    <title>
    {{object}}
    </title>
</head>
<body>
    <div>
        <a href="{% url 'car_list' %}">List All Cars</a>
    </div>
    
    <div class="Details">
        <h1><a href="{% url 'constructor_detail' object.constructor.slug %}">{{object.constructor}}</a> {{object.name}}</h1>

        <p>
        Engine: {{object.engine}}
        </p>
        <a href="{{object.wikipedia_link}}" target="_blank">Wikipedia</a>
    </div>
    
    <div class="SeasonsList">
        <h3>Seasons</h3>
        <ul>
        {% for season in object.season_list %}
            <li><a href="{% url 'season_detail' season.pk %}">{{season}}</a></li>
        {% endfor %}
        <ul>
    </div>

    <div class="AddObjectForm">
        <h3>Add {{object}} to an existing Season</h3>
        <form method="POST">
        {{form}}
        {% csrf_token %}
        <input type="submit" />
        </form>
    </div>

</body>
</html>