{% extends "browse/base.html" %}
{% load links %}

{% block head %}
    <title>
    {{object}} - Cars
    </title>
{% endblock %}

{% block navbar %}
<a href="{% url 'car_list' %}">List All Cars</a>
{% endblock %}

{% block maincontent %}    
    <div class="Details">
        <h1><a href="{% url 'constructor_detail' object.constructor.slug %}">{{object.constructor}}</a> {{object.name}}</h1>

        <p>
        Engine: 
        {% if object.engine %}
        <a href="{% url 'engine_detail' object.engine.id %}">{{object.engine}}</a>
        {% endif %}
        </p>
        <hr/>
        <div class="ExternalLinks">
            <a href="{{object | wikipedia}}" target=_blank><img src="https://wikipedia.org/static/favicon/wikipedia.ico" /></a>
            <a href="{{ object | statsf1 }}" target="_blank"><img src="https://www.statsf1.com/favicon.ico" /></a>
            <a href="{% url 'admin:f1web_car_change' object.id %}" target="_blank" class="AdminLink">Admin Change</a>
        </div>
    </div>
    
    <div class="SeasonsList">
        <h3>Seasons</h3>
        <ul>
        {% for season in object.season_set.all %}
            <li><a href="{% url 'season_detail' season.pk %}">{{season}}</a></li>
        {% endfor %}
        <ul>
    </div>

    <div class="AddObjectForm">
        <h3>Add {{object}} to an existing Season</h3>
        <form method="POST">
        {{form}}
        {% csrf_token %}
        <input type="submit" value="Add"/>
        </form>
    </div>
{% endblock %}