<html>

<head>
    <title>
    Car List
    </title>
</head>
<body>

    <div>
        <a href="{% url 'index' %}">Top</a>
    </div>

<ul>
{% with last_team="foo" %}
{% for car in car_list %}
    {% comment %} <li><a href="{{car.slug}}">{{car}}</a></li> {% endcomment %}
{% endfor %}
{% endwith %}
</ul>

<h2>Cars grouped by Constructor</h2>
<ul>
    {% for key, values in grouped_list.items %}
    <li><h3>{{key}}</h3>
    {% for car in values %}
    <span>
    <a href="{% url 'car_detail' car.slug %}">{{car.name}}</a>
    </span>
    {% endfor %}
    </li>
    {% endfor %}
</ul>

</body>
</html>