{% extends "browse/base_org_detail.html" %}
{% load links %}

{% block head %}
<title>
{{object}} - Constructors
</title>
{% endblock %}

{% block navbar %}
<a href="{% url 'constructor_list' %}">Constructors List</a>
<a href="{% url 'admin:f1web_constructor_add' %}" target="_blank" class="AdminLink">Admin Add Constructor</a>
{% endblock %}

{% block orglist_ul %}
<ul>
{% for object in model_object_list %}
    <li><a href="{% url 'constructor_detail' object.slug %}">{{object}}</a></li>
{% endfor %}
</ul>
{% endblock %}


{% block orgdetails %}
<div class="Details">
    <h1>{{object}}</h1>
    <div>
        {{object.country.name}} {{object.country.unicode_flag}}
    </div>
</div>
{% endblock %}

{% block orgmembers %}
<div class="Objects">
    <h2>Cars</h2>
    <table>
        <tr>
            <th>Chassis</th>
            <th>Engine</th>
            <th>Seasons(s)</th>
        </tr>
        
        {% for car in cars_table %}
        <tr>
            <td>
                <a href="{% url 'car_detail' car.slug %}">{{car.name}}</a>
            </td>
            <td>
            {% if car.engine %}
                <a href="{% url 'engine_detail' car.engine.pk %}">{{car.engine}}</a>
            {% else %}
                --
            {% endif %}
            </td>

            <td>
            {% for season in car.season_set.all %}
                <span>{{season}}</span>
            {% endfor %}
            </td>
        </tr>
        {% endfor%}
    </table>
    <a href="{% url 'admin:f1web_car_add' %}" target="_blank">Add Car through Admin</a>

    <h2>Seasons and Drivers</h2>
    <table>
        <tr>
            <th>Season</th>
            <th>Driver(s)</th>
            <th>Car(s)</th>
            <th>Numbers</th>
        </tr>

        {% for season, cars, drivers, numbers in seasons_table %}
        <tr>
            <td id={{season}}>
                <a href="{% url 'season_detail' season.year %}#{{object.slug}}">
                {{season}}
                </a>
                {% if season.constructors_champion == object %}&#128081;{% endif %}
            </td>

            <td>
            {% for driver in drivers %}
                <span>
                {{driver.country.unicode_flag}} <a href="{% url 'driver_detail' driver.slug %}">{{driver}}</a>
                </span><br/>
            {% endfor %}
            </td>

            <td>
            {% for car in cars %}
                <span>
                <a href="{% url 'car_detail' car.slug %}">
                {{car.name}}
                </a>
                </span>
            {% endfor %}
            </td>

            <td>
            {% if numbers %}
                {{numbers.0}}, {{numbers.1}}
            {% else %} - {% endif%}
            </td>
            
        </tr>
        {% endfor %}
    </table>
</div>


<div class="AddObjectForm">
    <h3>Create a new Car by {{object}}</h3>
    <form method="POST">
    {{form}}
    {% csrf_token %}
    <input type="submit" value="Create Car"/>
    </form>
</div>
{% endblock %}