{% load static %}

<html>

<head>
    <title>Constructor List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/browse/common.css' %}" />
</head>

<body>
This is a constructors list view page template.

    <div>
        <a href="{% url 'index' %}">Top</a>
    </div>


    <ul>
    {% for constructor in constructor_list %}
        <li>
        <a href="{% url 'constructor_detail' constructor.slug %}">{{constructor}}</a>
        {{constructor.country.unicode_flag}}
        </li>
    {% endfor %}
    </ul>

</body>
</html>