<html>

<head>
    <title>
    {{object}}
    </title>
</head>
<body>
    <div>
        <a href="{% url 'constructor_list' %}">List All Constructors</a>
    </div>

    <h1>{{object}}</h1>

    <div class="ObjectsList">
        <table>
        <th>
            <tr>
            <td>Chassis</td>
            <td>Engine</td>
            <td>Seasons(s)</td>
            <td>Driver(s)</td>
            </tr>
        </th>
        
        {% for car in object.cars %}
            <tr>
                <td>
                    <a href="{% url 'car_detail' car.slug %}">{{car.name}}</a>
                </td>
                <td>
                {% if car.engine %}
                    <a href="{% url 'engine_detail' car.engine.pk %}">{{car.engine}}</a>
                {% else %}
                    --
                {% endif %}
                </td>

                <td>
                {% for season in car.season_list %}
                    {{season}}
                {% endfor %}
                </td>
            </tr>
        {% endfor%}
        </table>

        <table>
            <th>
            <tr>
            <td>Season</td>
            <td>Car(s)</td>
            <td>Driver(s)</td>
            </tr>
            </th>
            {% for season, cars, drivers in seasons_table %}
            <tr>
            <td>
            <a href="{% url 'season_detail' season.year %}">
            {{season}}
            </a>
            </td>
            <td>
            {% for car in cars %}
            <a href="{% url 'car_detail' car.slug %}">
            {{car.name}}
            </a>
            {% endfor %}
            </td>
            <td>
            {% for driver in drivers %}
            <span>
            <a href="{% url 'driver_detail' driver.slug %}">{{driver}}</a>
            </span>
            {% endfor %}
            </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{% url 'admin:f1web_car_add' %}" target="_blank">Add Car through Admin</a>
    
    <div class="AddObjectForm">
        <h3>Create a new Car by {{object}}</h3>
        <form method="POST">
        {{form}}
        {% csrf_token %}
        <input type="submit" />
        </form>
    </div>
</body>
</html>