{% extends 'browse/base.html' %}

{% block head %}
    <title>
    Driver List
    </title>
{% endblock %}

{% block navbar %}<a href="{% url 'admin:f1web_driver_add' %}" target="_blank" class="AdminLink">Admin Add Driver</a>{% endblock %}  
{% block maincontent %}

<div class="ObjectList">
    <ul>
    {% for driver in driver_list %}
        <li>
        <a href="{{driver.slug}}">{{driver}}</a>
        {{driver.country.unicode_flag}}
        {% comment %} {% if driver.season_range %}
            {% if driver.season_range.0 == driver.season_range.1 %}
                {{driver.season_range.0}}
            {% else %}
                {{driver.season_range.0}}-{{driver.season_range.1}}
            {% endif %}
        {% endif %} {% endcomment %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}