{% load static %}

<html>

<head>
    <title>
    {{object}} {{object.country.unicode_flag}}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/browse/common.css' %}" />
</head>
<body>
    <div>
        <a href="{% url 'driver_list' %}">Drivers List</a>
    </div>

    <div>
        <h1>{{object}}</h1>

        <div>
            Country: {{object.country.name}} {{object.country.unicode_flag}}
        </div>
    </div>

    <div>
        <a class="Wikipedia" href="https://en.wikipedia.org/wiki/{{object}}" target=_blank>
        <img src="https://wikipedia.org/static/favicon/wikipedia.ico">
        </a>
    </div>

    <div>
        <table>
            <th>
                <tr>
                    <td>Year</td>
                    <td>Team</td>
                </tr>
            </th>
        {% for drive in object.drives_list %}
            <tr>
                <td>
                    <a href="{% url 'season_detail' drive.season.pk %}">{{drive.season}}</a>
                </td>
                <td>
                    <a href="{% url 'constructor_detail' drive.team.slug %}">{{drive.team}}</a>
                </td>
            </tr>
        {% endfor %}

        </table>
    </div>

    <div class="AddObjectForm">
        <h3>Add a new drive by {{object}}</h3>
        <form method="POST">
        {{form}}
        {% csrf_token %}
        <input type="submit" />
        </form>
    </div>

</body>
</html>