{% extends "browse/base_org_detail.html" %}
{% load links %}

{% block head %}
<title>
{{object}} {{object.country.unicode_flag}}
</title>
{% endblock %}

{% block navbar %}
<a href="{% url 'driver_list' %}">Drivers List</a>
<a href="{% url 'admin:f1web_driver_add' %}" target="_blank" class="AdminLink">Admin Add Driver</a>
{% endblock %}

{% block maincontent %}
<div class="Details">
    <h1>{{object}}</h1>

    <div>
        {{object.country.name}} {{object.country.unicode_flag}}
    </div>
    <div class="ExternalLinks">
        <a href="{{object | wikipedia}}" target=_blank><img src="https://wikipedia.org/static/favicon/wikipedia.ico" /></a>
        <a href="{{ object.slug | statsf1 }}" target="_blank"><img src="https://www.statsf1.com/favicon.ico" /></a>
        <a href="{% url 'admin:f1web_driver_change' object.id %}" target="_blank" class="AdminLink">Admin Change</a>
    </div>
</div>


<div class="RelatedInfoTable">
    <h2>History</h2>
    <table>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>#1</th>
            <th>Number</th>
            <th>Rounds</th>
            <th>Edit</th>
        </tr>
        {% for drive in drives_list %}
        <tr>
            <td>
                <a href="{% url 'season_detail' drive.season.pk %}#{{drive.team.slug}}">{{drive.season}}</a>
                {% if drive.is_champion %}&#128081;{% endif %}
            </td>
            <td>
                {{drive.team.country.unicode_flag}} <a href="{% url 'constructor_detail' drive.team.slug %}#{{drive.season}}">{{drive.team}}</a>
                {% comment %} <a href="{% url 'admin:f1web_drivingcontract' drive.pk %}">Edit</a>> {% endcomment %}
            </td>
            <td>
                {% if drive.is_lead %}
                +
                {% endif %}
                {% if drive.is_maybe_lead %}
                ?
                {% endif %}
            </td>

            <td>
                {{drive.number}}
            </td>

            <td>
                {{drive.starting_round}}-
            </td>

            <td>
                <a href="{% url 'admin:f1web_drivingcontract_change' drive.id %}" target="_blank">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% if user.is_authenticated %}
<div class="AddObjectForm">
    <h3>Add a new drive by {{object}}</h3>
    <form method="POST">
    {{form}}
    {% csrf_token %}
    <input type="submit" value="Add"/>
    </form>
</div>
{% endif %}
{% endblock %}