{% extends "browse/base.html" %}

{% block head %}
    <title>
    {{object}}
    </title>
{% endblock %}

{% block navbar %}
<a href="{% url 'engine_list' %}">List All Engines</a>
<a href="{% url 'admin:f1web_engine_change' object.id %}" target="_blank" class="AdminLink">Admin Edit Engine</a>
{% endblock %}

{% block maincontent %}
    <h1><a href="{% url 'enginemaker_detail' object.maker.slug %}">{{object.maker}}</a> {{object.name}}</h1>

    <div class="UsedIn">
        <h2>Used in:</h2>
        <table>
            <tr>
                <th>Car</th>
                <th>Season(s)</th>
            </tr>

            {% for car in object.car_set.all %}
            <tr>
                <td><a href="{% url 'car_detail' car.slug %}">{{car}}</a></td>
                <td>
                    {% for season in car.season_list %}
                    {{season}}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <form>
    {{form}}
    </form>
{% endblock %}
