{% extends "browse/base_org_detail.html" %}
{% load links %}

{% block head %}
<title>
{{object}} - Engine Makers
</title>
{% endblock %}

{% block navbar %}
<a href="{% url 'enginemaker_list' %}">Engine Makers List</a>
<a href="{% url 'admin:f1web_enginemaker_add' %}" target="_blank" class="AdminLink">Admin Add Engine Maker</a>
{% endblock %}

{% block orglist_ul %}
    <ul>
    {% for enginemaker in model_object_list %}
        <li><a href="{% url 'enginemaker_detail' enginemaker.slug %}">{{enginemaker | nbhyphen }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block orgdetails %}
    <h1>{{object}}</h1>

    <a href="{{ object.slug | statsf1_engine_maker }}" target="_blank">
        <img src="https://www.statsf1.com/favicon.ico" />
    </a>
{% endblock %}

{% block orgmembers%}
    <div class="Objects">
        <h2>Engines</h2>
        <ul>
        {% for engine in object.engine_set.all %}
        <li><a href="{% url 'engine_detail' engine.id %}">{{engine.name}}</a></li>
        {% endfor %}
        </ul>
    </div>

    <form>
    {{form}}
    </form>
{% endblock %}
