<html>

<head>
    <title>
    {{object}}
    </title>
</head>
<body>
    This is an engine detail view page template.

    <h1><a href="{% url 'enginemaker_detail' object.maker.slug %}">{{object.maker}}</a> {{object.name}}</h1>

    <div class="UsedIn">
        <h2>Used in:</h2>
        <table>
            <th>
                <td>Car</td>
            </th>

            {% for car in object.cars_using %}
            <tr>
                <td><a href="{% url 'car_detail' car.slug %}">{{car}}</a></td>
                <td>
                    {% for season in car.season_list %}
                    {{season}}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <form>
    {{form}}
    </form>

</body>
</html>