{% extends "browse/base.html" %}
{% load links %}
<!DOCTYPE html>
<html>

{% block head %}
    <title>
    {{object}}
    </title>
{% endblock %}


{% block navbar %}
    <a href="{% url 'season_list' %}">List All Seasons</a>
{% endblock %}

{% block maincontent %}
<div class="AllObjectsList">
    <ul>
    {% for season in model_object_list %}
        <li><a href="{% url 'season_detail' season %}">{{season}}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="ObjectDetail">
    <h1>{{object}}</h1>

    <div id="champions">
    Driver's Champion: 
    {% if object.drivers_champion %}
    <a href="{% url 'driver_detail' object.drivers_champion.slug %}">{{object.drivers_champion}}</a>
    {% endif %}
    <br/>
    Constructor's Champion: 
    {% if object.constructors_champion %}
    <a href="{% url 'constructor_detail' object.constructors_champion.slug %}">{{object.constructors_champion}}</a><br/>
    {% endif %}
    </div>


    <div class="ExternalLinks">
        <a href="{{object | wikipedia_season }}" target=_blank><img src="https://wikipedia.org/static/favicon/wikipedia.ico" /></a>
        <a href="{{ object.year | statsf1 }}" target="_blank"><img src="https://www.statsf1.com/favicon.ico" /></a>
        <a href="{% url 'admin:f1web_season_change' object %}" target="_blank" class="AdminLink">Admin Change</a>
    </div>

    <div>
        {% if object.previous %}
            <a href="{% url 'season_detail' object.previous %}">{{object.previous}}</a>
        {% endif %}

        {% if object.next %}
            <a href="{% url 'season_detail' object.next %}">{{object.next}}</a>
        {% endif %}
    </div>

    <div>
        <h3>Cars that drove this season</h3>
        <p>Sorted Alphabetically</p>
        <ul>
            {% for car in object.cars.all %}
            <li>
                <a href="{% url 'car_detail' car.slug %}">
                    {{car}}
                    {% if car.engine and not car.constructor.is_factory %}
                    {{car.engine.maker}}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Cars and drivers that drove this season</h3>
        <p>Sorted by Car Numbers</p>
        <table>
            <tr>
                <th>Constructor</th>
                <th>Car(s)</th>
                <th>Driver(s)</th>
                <th>Numbers</th>
            </tr>
            {% for row in drivers_table %}
                <tr>
                    <td id="{{row.team.slug}}">
                    <a href="{% url 'constructor_detail' row.team.slug %}">{{row.team}}</a>
                    </td>

                    <td>
                    {% for car in row.cars %}
                        {{car.name}} 
                    {% endfor %}
                    </td>

                    <td>
                    {% for driver in row.drivers %}
                        <a href="{% url 'driver_detail' driver.0.slug %}">{{driver.0}}</a>{% if driver.2%}+{% endif %}

                        [{{driver.1}}]
                        <br/>
                    {% endfor %}
                    </td>

                    <td>
                        {% if row.numbers %}
                        {{row.numbers}}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
