{% extends "browse/base.html" %}

{% block head %}
    <title>
    Season List
    </title>
{% endblock%}

{% block maincontent %}
    <div class="ListContent">
        <table>
        <tr>
            <tr>
            <th>Season</th>        
            <th>Driver</th>
            <th>+</th>       
            <th>Constructor</th>
            <th>Entrants</th>       
            </tr>
        </tr>

        {% for season in object_list %}
            <tr>
                <td>
                <a href="{{season.pk}}">{{season}}</a>
                </td>
                <td>
                {% if season.drivers_champion %}
                    <a href="{% url 'driver_detail' season.drivers_champion.slug %}">{{season.drivers_champion}}</a>
                    ({{season.drivers_champion_team}})
                {% endif %}
                </td>
                <td>
                {% if season.drivers_champion %}
                    {% if season.is_double_champion %}
                        *
                    {% endif %}                
                {% endif %}
                </td>
                <td>
                {% if season.constructors_champion %}
                    <a href="{% url 'constructor_detail' season.constructors_champion.slug %}">{{season.constructors_champion}}</a>
                {% endif %}
                </td>
                <td>
                {{season.constructors | length}}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
